/*================================
Main Stayle
==================================*/
li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: aquamarine;
}

.container {
    background-color: rgb(243, 240, 240);

}

.about {
    width: 80%;
    margin: 0 auto;
}

.about--header {
    margin-top: 0;
}


.header--contact {
    text-align: center;
    background-color: black;
    color: antiquewhite;
    margin: 0;
    font-size: 0.8rem;

}

.header--contact li {
    display: inline-block;
    text-align: center;
    margin-right: 15%;
}

nav {
    text-align: center;
    background-color: rgb(20, 20, 20);
    border: rgb(31, 23, 23) solid 1px;
}

.logo {
    font-size: 3rem;
    text-align: center;
    display: inline-block;
    text-align: left;
    color: aqua;
}

.header--nav {
    margin-top: 1px;
    background: #000;
    margin-bottom: 0;
    color: azure
}

.header--nav li {
    display: inline-block;
    padding: 3px 8px;
    margin-left: 2%;
}

.gallery--list img {
    width: 20%;
    height: auto;
}

.gallery--list li {
    display: inline-block;
}